@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
}

.card{
    border-color: #FFB200;
    border-width: 4px;
    border-radius: 25px;
    background-color: #FFF4CF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24%;
}

.card-body{
    height: 310px;
    font-size: 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.lowgow{
    position: absolute;
    top: -570px;
    left: 620px;
    width: 100px;
    height: 100px;
    border-color: #FFB200;
    border-width: 4px;
    background-color: #FFF4CF;
    border-style: solid;
    border-radius: 50%;
    z-index: 200;
    justify-content: center;
}

.login{
    background-color: #FFB200;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    width: 100%; 
}

#email, #password{
    background-color: white;
    border-radius: 1px;
    border-style: none;
    height: 45px;
}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
    padding-left: 7px;
}
 
.input-group-text{
    background-color: white;
    height: 45px;
    border-radius: 1px;
    border-style: none;
    padding: 13px;
}

.vr{
    border-left: 1px solid black;
    border-color: #FFB200;
    height: 30px;
    position: relative;
    z-index: 1;
    top: 7px;
}

.card, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .card, .logo {
        width: 100%;
    }
    .card-body {
        margin: 0 auto;
    }
    .lowgow {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}